.navbar {
    position: absolute;
    top: 10vh;
    left: 0;
    font-family: 'Cinzel_Decorative_Black', sans-serif;

    // background: #000;
    background: none !important;

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.2 rem;
    color: #fff;
    line-height: 2rem;
    height: 4rem;
    width: 100%;
    margin: 0 auto;

    .menuitem {
        margin-left: 1rem;
        margin-right: 1rem;



        .link {
            padding: .3rem;

            text-decoration: none;

            &:hover {
                color: #db9e30;
                border-bottom: solid 1px #ecaf40;
            }

            animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            &.active {
                color: #fff;
                border-bottom: solid 1px #db9e30;
            }

            transition: color 1s ease-in-out 3ms;
        }
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100px);
    }
}